<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h2>About Us</h2>
        </div>
        <div class="row">
            <div class="mainPara">
                <p>
                    We, at aDVERTMOBI, are committed to help you to scale your global user growth.
                    <br> We continuously optimize and target campaigns, which helps you to reach the most engaged users.</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h2>Boost Your Product's Success With Us </h2>
        </div>
        <div class="row">
            <ul>
                <li>Starting a campaign has never been that easy.</li>
                <li>Best optimization and day to day customer approach </li>
            </ul>
        </div>
        <div class="row">
            <button class="btn btn-primary"><a href="https://www.google.com" style="color: antiquewhite"> Join Us</a></button>
        </div>
    </div>
</div>